bin 
obj 
/.vs/Sudoku/v15
/.vs/Sudoku/v16/Server/sqlite3/storage.ide-wal
/.vs/Sudoku/v16/Server/sqlite3/storage.ide-shm
/.vs/Sudoku/v16/Server/sqlite3/storage.ide
/.vs/Sudoku/v16/Server/sqlite3/db.lock
/.vs/Sudoku/config/applicationhost.config
